.table-wrapper {
    width: 100%;
    overflow: auto;
    flex-wrap: wrap;
    padding: 1rem;
  }
  @media screen and (max-width: 480px) {
    .table-wrapper{
      padding: 10px;
    }
  }
  
 
  .addnew{
    color: white !important;
    background-color:#0d6efd !important;

  }

  @media (max-width: 768px) {
.table-heading{
  height: 100px;
}

.searchbar{
  width: 100px !important;
  height: 50px !important;
}

.addnew{
  background-color:#0d6efd !important;
 
  position: relative;
  right: 30px;
}

  }